/*Most important news*/
#bignews img {
    width: 95%;
    display: block;
    margin: auto;
}

#bignews {
    margin: 0 2px;
}

#bignews h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: orangered;
    line-height: 20px;   
}

#bignews p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;    
    color: black;
}

/*Two coloums*/
.mediumnews img {
    width: 70%;
    display: block;
    margin: auto;
}

.mediumnews h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: orangered;
    line-height: 16px;  
}

.mediumnews p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;    
    color: black;
}

.mediumnews hr {
    font-size: 14px;    
    color: black;
}
 
/*Top five*/
.smallnews h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: rgb(184, 50, 224);
    line-height: 0cm;
}

.smallnews img {
    width: 100px;
    padding: 5px;
}

.smallnews h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: black;
    line-height: 16px;
    display: inline;
    padding: 5px;
    
}

.smallnews span {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: rgb(184, 50, 224);
    line-height: 10px;
    display: inline;
    padding: 5px;
}

.smallnews {
    border-right: solid 5px rgb(184, 50, 224);
    border-left: solid 5px rgb(184, 50, 224);
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-direction: column;  
    justify-content: space-around;  
    
}

.smallnews div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

/*Aside*/
aside a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;    
}

aside h4 {
    border-bottom: solid 5px rgb(51, 158, 207);
}

aside h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: black;
    line-height: 16px;    
}

aside h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: rgb(51, 158, 207);
    line-height: 10px;
}

aside p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;    
    color: black;
}

aside {    
    background-color: rgba(51, 158, 207, 0.226);
}

/*Footer*/
footer a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: gray;
}

footer ul {
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    height: 15px;
    line-height: 0cm;
}
footer div {
    text-align: center;
    line-height: 0cm;
}

/* Media Queries For desktop*/
@media only screen and (min-width: 768px) {
    .container {
        display: flex;    
    }

    .main {
        width: 65%;
        padding: 5px;    
    }

    aside {
        width: 30%;
    }
}

@media only screen and (min-width: 600px) {
    .mediumnews article {
        width: 45%;
        padding: 10px;        
    }

    .mediumnews {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }    
}  