/*<!--Newspaper's name-->*/
body {
    margin: 0;
    padding: 0;    
}
header img {
    width: 80px;
    height: 80px;    
}

header h1{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(243, 89, 0);    
    line-height: 0px;
}

header p a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: rgb(216, 86, 0);
    font-weight: bold;    
}

header p {
    display: inline;    
    text-align: center;
}

#ddheader {
      text-align: center;
      line-height: 15px;
}

.icon {
    display: flex;
    justify-content: space-around;    
    border: 1px #ccc solid;
    align-items: center;   
}

.follow {
    text-align: center;
    color: rgb(216, 86, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.follow p{
    display: inline;
    font-size: 15px;
    color: black;
}

/* Media Queries For desktop: */
@media only screen and (min-width: 600px) {
    header h1{
        font-size: 70px;        
    }    
}